* {
	margin: 0;
	padding: 0;
}

:root {
	--soft-red: hsl(10, 79%, 65%);
	--cyan: hsl(186, 34%, 60%);
	--dark-brown: hsl(25, 47%, 15%);
	--medium-brown: hsl(28, 10%, 53%);
	--cream: hsl(27, 66%, 92%);
	--very-pale-orange: hsl(33, 100%, 98%);
}

body {
	font-size: 18px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: "DM Sans", sans-serif;
	background-color: var(--cream);
}

footer {
	margin: 30px;
	text-align: center;
}

h1 {
	font-size: 18px;
	font-weight: 400;
}

h2 {
	color: var(--dark-brown);
	font-weight: 700;
	margin-bottom: 70px;
	font-size: 24px;
}

h3,
.last-month {
	color: var(--medium-brown);
	font-weight: 400;
	font-size: 15px;
}

hr {
	border: 1px solid var(--cream);
	margin: 20px 0px;
}

.top {
	background-color: var(--soft-red);
	display: flex;
	flex-direction: row;
	border-radius: 7px;
	padding: 25px;
	width: 290px;
	margin-bottom: 20px;
	color: var(--cream);
	margin-top: 50px;
}

.top img {
	margin-left: 110px;
	position: relative;
	left: 10px;
	top: 5px;
}

.top p {
	font-size: 25px;
	font-weight: 700;
}

.bottom {
	background-color: var(--very-pale-orange);
	border-radius: 7px;
	padding: 15px;
}

.days-of-week {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.bar-mon,
.bar-tue,
.bar-wed,
.bar-thu,
.bar-fri,
.bar-sat,
.bar-sun {
	background-color: var(--soft-red);
	border-radius: 4px;
	width: 36px;
	margin-bottom: 5px;
}

.bar-mon {
	height: 50px;
}

.bar-tue {
	height: 100px;
}

.bar-wed {
	height: 120px;
	background-color: var(--cyan);
}

.bar-thu {
	height: 90px;
}

.bar-fri {
	height: 70px;
}

.bar-sat {
	height: 110px;
}

.bar-sun {
	height: 80px;
}

.bottom-total {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.month-total,
.month-percent {
	color: var(--dark-brown);
	font-weight: 700;
}

.month-percent {
	position: relative;
	left: 58px;
}

.month-total {
	font-size: 29px;
}

.percent {
	position: relative;
	top: 6px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.fa-github-alt {
	margin: 30px;
	font-size: 30px;
	color: var(--soft-red);
}

.fa-github-alt:hover {
	cursor: pointer;
}
